<a href="https://colab.research.google.com/github/luanzin19/Aula-Ph/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numeros = [1,2,3,4,5,6,7,8]

In [ ]:
numeros = []
for num in range(15):
 numeros.append(num)
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
numeros = []
for num in range(34):
 numeros.append(num)
numeros

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33]

In [ ]:
import random

num2 = []

for num in range(random.randrange (0, 50)):

  num2.append(num)


num2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [ ]:
numeros2 = []
for num in range(51):

 if(num % 2 == 0 ):

  numeros2.append(num)

numeros2

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [ ]:

a = 0
for nume in range(101):
  
 a = a + nume

a

In [ ]:
cont = 0 
while (cont < 15):

   print(cont + 1)
   cont+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
num = 0
a = int(input("Digite o numero: "))
while (num <= a ):
 print(num)
 num+=1

Digite o numero: 5
0
1
2
3
4
5

In [ ]:
lc = ['feijÃ£o,macarrao,azeite,arroz,hambuguer,biscoito']